{% extends 'base.html' %}
{% block body_block %}
<h1>여기는 post_new입니다!!</h1>
<form action="/post_create" method="post">
  <div class="form-group">
    <label for="title">Title</label>
    <input name="title" type="text" class="form-control" id="title" aria-describedby="emailHelp" placeholder="예) 잠자기, 밥먹기, 쉬기...">
  </div>
  <div class="form-group">
    <label for="content">Content</label>
    <!--<input type="text" class="form-control" id="content" placeholder="상세내용">-->
    <textarea name="content" class="form-control" id="content" rows="5"></textarea>
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}